:root {
    --pColor: #a2063e;
    --sColor: #3ea206;
    --tColor: #06a269;
    --fColor: #6906a2;
    --white: #ffffff;
    --black: #000000;

    --font-primary: 'Bricolage Grotesque', sans-serif;
    --font-secondary: 'Athiti', sans-serif;
    --font-tertiary: 'Jersey 25 Charted', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.font-primary{
    font-family: var(--font-primary);
}

.pColor {
    color: var(--pColor);
}

.bg {
    background:
    radial-gradient(34px at calc(100% + calc(34px*.866)) 50%,#db6590 99%, #0000 101%) 0 calc(-5*34px/2),
    radial-gradient(34px at calc(100% + calc(34px*.866)) 50%,#db6590 99%, #0000 101%) calc(-2*calc(34px*.866)) calc(34px/2),
    radial-gradient(34px at 100% 50%,#e1c5cf 99%, #0000 101%) 0 calc(-2*34px),
    radial-gradient(34px,#db6590 99%, #0000 101%) calc(34px*.866) calc(-5*34px/2),
    radial-gradient(34px,#e1c5cf 99%, #0000 101%) calc(34px*.866) calc( 5*34px/2),
    radial-gradient(34px at 100% 100%,#db6590 99%, #0000 101%) 0 calc(-1*34px),   
    radial-gradient(34px at 0%   50% ,#db6590 99%, #0000 101%) 0 calc(-4*34px),
    radial-gradient(34px,#e1c5cf 99%, #0000 101%) calc(-1*calc(34px*.866)) calc(-7*34px/2),
    radial-gradient(34px,#db6590 99%, #0000 101%) calc(-1*calc(34px*.866)) calc(-5*34px/2),
    radial-gradient(34px at 100% 50%,#e1c5cf 99%, #0000 101%) calc(-2*calc(34px*.866)) 34px,
    radial-gradient(34px,#db6590 99%, #0000 101%) calc(-1*calc(34px*.866)) calc(34px/ 2),
    radial-gradient(34px,#e1c5cf 99%, #0000 101%) calc(-1*calc(34px*.866)) calc(34px/-2),
    radial-gradient(34px,#db6590 99%, #0000 101%) 0 calc(-1*34px),
    radial-gradient(34px,#e1c5cf 99%, #0000 101%) calc(34px*.866) calc(34px/-2),
    radial-gradient(34px,#db6590 99%, #0000 101%) calc(34px*.866) calc(34px/ 2) 
    #e1c5cf;
background-size: calc(4*calc(34px*.866)) calc(6*34px);

}


body {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-secondary);
    background-color: var(--white);
    min-height: 100vh;
}


.welcome__f {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #a2063f38;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.quiz-greetings {
    font-size: 1.42rem;
    font-weight: 600;
}

.quiz-title {
    font-family: var(--font-tertiary);
    font-size: 5rem;
    color: var(--pColor);
    margin-top: -15px;
}



.quiz-link {
    background-color: var(--sColor);
    color: #ffffff;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.quiz-link:hover {
    border: 1px solid var(--sColor);
    color: var(--sColor);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.how-to-play {
    background-color: var(--pColor);
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.how-to-play p{
    text-align: center;
    font-family: var(--font-primary);
    font-size: 150%;
    font-weight: 700;
}

.how-to-play li {
    font-size: 90%;
}

.login {
    background: linear-gradient(var(--pColor), #3a0315, #3a0315, #000);
    display: none;
    transition:all 2s;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    -ms-transition:all 2s;
    -o-transition:all 2s;
}

.login.show {
    display: flex;
}

.login-greetings {
    font-size: 120%;
    font-family: var(--font-primary);
    font-weight: 700;
}

.login .btn {
    background-color: var(--pColor);
    color: #ffffff;
    font-weight: 700;
    transition: all .8s;
}

.login .btn:hover {
    background-color: #650324;
    
}

.cAccount {
    line-height: 97%;
}

.cAccount>strong, .cLogin>strong {
    cursor: pointer;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.cAccount>strong:hover, .cLogin>strong:hover {
    color: var(--tColor);
    text-decoration: underline;
}

/* Navbar */
nav {
    background-color: var(--pColor) ;
    color: var(--white);
}

.toggler {
    text-decoration: none;
    color: #ffffff;
    font-size: 120%;
}

.brand-name {
    color: var(--white);
    font-weight: 600;
    font-size: 130%;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    color: var(--white) !important;
}

.nav-item .nav-link {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.nav-item:hover .nav-link {
    transform: scale(1.2);
    padding: 5px;
    font-weight: 500;
}

.nav-item:not(:hover) .nav-link {
    opacity: 0.8;
}

/* Main Content */
.user_greeting {
    font-weight: 600;
    font-family: var(--font-primary);
    font-style: italic;
}

dotlottie-player {
    object-fit: cover;
    width: 90%;
    height: 90%;
}

.card {
    /* border: 0; */
    border-radius: 10px;
    box-shadow: 0 2px 5px #3c3b3b14;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
}

.card img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: rgba(3, 30, 6, 0.241);
    backdrop-filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.overlay-footer {
    position: absolute;
    background-color: var(--pColor);
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;
    color: #fff;
}


.card:hover {
    /*box-shadow: 0 10px 0 var(--sColor);
    */transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.card:hover .overlay {
    opacity: 1;
}



/********************************/
/******** RESPONSIVENESS ********/
/********************************/

/* LAPTOP SCREEN AND ABOVE */
@media (min-width: 991.98px) {
    .welcome__f {
        border-radius: 20px 0 0 20px;
        -webkit-border-radius: 20px 0 0 20px;
        -moz-border-radius: 20px 0 0 20px;
        -ms-border-radius: 20px 0 0 20px;
        -o-border-radius: 20px 0 0 20px;
    }

    .welcome__f.translate {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
}
}

/* Tablet breakpoint */



@media (max-width: 991.98px) and (min-width: 768px) {

}

/* Tablet to Phone Breakpoint */
@media (max-width: 991.98px)  {

    .welcome {
        justify-content: end;
}

}


/* SM BREAKPOINT (PHONE) */
@media (max-width: 575.98px) {
    .ce {
        text-align: center;
    }

    .welcome {
        justify-content: center;
    }

    .welcome.translate {
        justify-content: end;
    }
}
