@font-face {
    font-family: Jersey25;
    src: url(../fonts/Jersey25Charted-Regular.ttf) format('truetype');
}

@font-face {
    font-family: BricolageGrotesque;
    src: url(../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf) format('truetype');
}

@font-face {
    font-family: Athiti;
    src: url(../fonts/Athiti-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Athiti;
    src: url(../fonts/Athiti-Bold.ttf) format('truetype');
    font-weight: 700;
}

:root {
    --pColor: #a2063e;
    --sColor: #3ea206;
    --tColor: #06a269;
    --fColor: #6906a2;

    --font-primary: 'BricolageGrotesque', sans-serif;
    --font-secondary: 'Athiti', sans-serif;
    --font-tertiary:  'Jersey25', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-secondary);
    background: linear-gradient(#ffffffb6, #3fa206cf), url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.welcome__f {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #a2063fa4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.quiz-greetings {
    font-size: 1.42rem;
    font-weight: 600;
}

.quiz-title {
    font-family: var(--font-tertiary);
    font-size: 5rem;
    color: var(--pColor);
    margin-top: -15px;
}



.quiz-link {
    background-color: var(--sColor);
    color: #ffffff;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.quiz-link:hover {
    border: 1px solid var(--sColor);
    color: var(--sColor);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.how-to-play {
    background-color: var(--pColor);
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.how-to-play p{
    text-align: center;
    font-family: var(--font-primary);
    font-size: 150%;
    font-weight: 700;
}

.how-to-play li {
    font-size: 90%;
}

.login {
    background: linear-gradient(var(--pColor), #3a0315, #3a0315, #000);
    display: none;
    transition:all 2s;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    -ms-transition:all 2s;
    -o-transition:all 2s;
}

.login.show {
    display: flex;
}

.login-greetings {
    font-size: 120%;
    font-family: var(--font-primary);
    font-weight: 700;
}

.login .btn {
    background-color: var(--pColor);
    color: #ffffff;
    font-weight: 700;
    transition: all .8s;
}

.login .btn:hover {
    background-color: #650324;
    
}

.cAccount {
    line-height: 97%;
}

.cAccount>strong, .cLogin>strong {
    cursor: pointer;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.cAccount>strong:hover, .cLogin>strong:hover {
    color: var(--tColor);
    text-decoration: underline;
}
/********************************/
/******** RESPONSIVENESS ********/
/********************************/

/* LAPTOP SCREEN AND ABOVE */
@media (min-width: 991.98px) {
    .welcome__f {
        border-radius: 20px 0 0 20px;
        -webkit-border-radius: 20px 0 0 20px;
        -moz-border-radius: 20px 0 0 20px;
        -ms-border-radius: 20px 0 0 20px;
        -o-border-radius: 20px 0 0 20px;
    }

    .welcome__f.translate {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
}
}

/* Tablet breakpoint */



@media (max-width: 991.98px) and (min-width: 768px) {

}

/* Tablet to Phone Breakpoint */
@media (max-width: 991.98px)  {

    .welcome {
        justify-content: end;
}

}


/* SM BREAKPOINT (PHONE) */
@media (max-width: 575.98px) {
    .ce {
        text-align: center;
    }

    .welcome {
        justify-content: center;
    }

    .welcome.translate {
        justify-content: end;
    }
}
